<html>

<head>
  <title>React App Demo</title>

  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <!-- Don't use this in production: -->
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>

  <div id="root"></div>
  <script type="text/babel">

    const CarList = (props) => {
      console.log(props)
      return <div>
        <h1>Click one for more details</h1>
        <ul>
        {props.items.map(item => <li onClick={props.clickHandler} key={item.make}>{item.make}</li>)}
      </ul>
      <hr />
      </div>
  
     
    }

    const CarDetail = (props) => {
      return<div>
<form>
    <p>Make : <input type="text" name="make" value={props.item.make || ""}/></p>
    <p>Mode : <input type="text" name="model" value={props.item.model || ""}/></p>
    <p>Engine : <input type="text" name="engine" value={props.item.engine || ""}/></p>
    <p>MPG : <input type="text" name="mpg" value={props.item.mpg || ""}/></p>
    <p>Price : $ <input type="text" name="msrp" value={props.item.msrp || ""}/></p>


  </form>
  <button>Save</button>
        <p>Make: {props.item.make}</p>
        <p>Model: {props.item.model}</p>
        <p>Engine: {props.item.engine}</p>
        <p>MPG: {props.item.mpg}</p>
        <p>Price: ${props.item.msrp}</p>
      </div>
    }

    class App extends React.Component {
      constructor(props) {
        super(props);
        // Set initial state using data from server application
        this.state = {
        items: {{{cars}}},
        currentCar: {} // current selected item -- what car do u wanna see?
      }
    this.handleClick = this.handleClick.bind(this);
  }


    handleClick(e) {
      let clicked = e.target.innerText
      let newCar = this.state.items.find((item) => {
        return item.make == clicked
      })
      this.setState({
        currentCar: newCar
      });
      

    }


    render() {
      // render app UI elements
      return (
        <div>
          <CarList items={this.state.items} clickHandler={this.handleClick} />
          <CarDetail item={this.state.currentCar}/>
        </div>
      );
    }
    }




    ReactDOM.render(<App />, document.getElementById('root'));
  </script>
</body>

</html>